.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

.text-wrap {
    white-space: normal;
  }

.pergunta {
  cursor: pointer;
}

.f1 {
  border-bottom: 1px solid white;
}

.f2 {
  padding-top: 15px;
}

.pergunta:hover {
  font-weight: bold;
}

.bg-form {
  background: #2196f3;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c5c5c5 !important;
}

textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c5c5c5 !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #c5c5c5;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color:#c5c5c5;
}